@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

:root {
	--bg-dark: rgb(8, 8, 39);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body {
	/* background-color: rgb(216, 216, 236); */
	background-color: rgb(240, 240, 244);
}

.heading {
	color: rgb(199, 204, 248);
	font-family: "Supermercado One", cursive;
	font-size: 2.5rem;
	margin: auto;
	width: fit-content;
	text-shadow: 0.2rem 0.2rem 0 rgb(102, 102, 141);
	letter-spacing: 0.2rem;
	word-spacing: 0.4rem;
	padding-bottom: 0.5rem;
}

.App {
	margin: 2rem 30%;
	height: 100%;
	background-color: var(--bg-dark);
	padding: 2rem;
	border-radius: 0.7rem;
}

#country-select,
#city-select {
	color: white;
}

.input-container {
	margin: 3rem auto;
}

.MuiAutocomplete-root {
	margin: auto;
	width: 90% !important;
}

.MuiInputLabel-formControl {
	color: silver !important;
}

.MuiOutlinedInput-notchedOutline {
	border-color: silver !important;
}

@media only screen and (max-width: 1400px) {
	.App {
		margin: 2rem 20%;
	}
}

@media only screen and (max-width: 980px) {
	.App {
		margin: 2rem 10%;
	}
}

@media only screen and (max-width: 750px) {
	.weather-info {
		display: block !important;
	}
}

@media only screen and (max-width: 500px) {
	.temp {
		font-size: 3rem !important;
	}
	.weather-container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.App {
		margin: 0 !important;
		min-height: 100vh;
		border-radius: 0;
	}
}

@media only screen and (max-width: 300px) {
	.App {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}

.weather-container {
	margin-top: 4rem;
	font-family: "Stylish", sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.weather-container img {
	float: left;
}

.weather-container .pro {
	color: rgb(98, 181, 253);
}

.weather-container .lite,
.weather-container .lite * {
	color: rgb(153, 151, 151);
}

.temp {
	font-weight: 600;
	font-size: 4rem;
	color: rgb(223, 193, 42);
	white-space: nowrap;
}

.temp sup {
	font-size: 1.7rem;
	margin-left: -0.3rem;
}

.weather-info {
	display: flex;
}

.weather-subinfo {
	line-height: 2rem;
	margin-left: 1rem;
}

.weather-subinfo * {
	white-space: nowrap !important;
}

.weather {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 7rem;
	margin-top: 4rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
	object-fit: fill;
	height: fit-content;
	padding-bottom: 1rem;
}

.weather img {
	object-fit: contain;
	position: absolute !important;
	width: 18rem;
	white-space: nowrap;
}

.weather h1 {
	z-index: 1;
	font-size: 3rem;
	letter-spacing: 0.1rem;
	font-family: "Supermercado One", cursive;
	/* text-shadow: 0 0 0.5rem rgb(83, 103, 133); */
	text-shadow: 0.3rem 0.3rem 0rem rgb(83, 103, 133);
}

.date-time {
	padding-top: 3rem;
	padding-left: 1rem;
}

.date-time h1 {
	color: rgb(212, 209, 209);
}

.time {
	white-space: nowrap;
}
