:root {
	--bg-dark: rgb(8, 8, 39);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: rgb(216, 216, 236);
}

.App {
	margin: 2rem 25%;
	height: 100%;
	background-color: var(--bg-dark);
	padding: 2rem;
	border-radius: 0.7rem;
}

.input-country {
	margin-top: 1.5rem;
}

.country-list {
	position: absolute;
	width: 40%;
}

.country-list option {
	padding: .4rem;
}

.country-list * {
	color: black;
}

@media only screen and (max-width: 1100px) {
	.App {
		margin: 2rem 15%;
	}
}

@media only screen and (max-width: 800px) {
	.App {
		margin: 2rem 5%;
	}
}